.cardBody {
    display: flex;
    flex-wrap: wrap;        
    justify-content: center;

  }
  
  .res-card {
    /* margin: 1rem; */
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin: auto;
    margin: 20px 20px;   
    
  }
 
  /* .cover-caption{   
    position: absolute;
    top: 0;
    left:0;      */
}